<div class="menu">
    <div>
        <h1> <i class="fa-solid fa-bars"> </i>Bienvenido</h1>
    </div>
    <div>
        <ul>
            <li>
                <i class="fa-solid fa-house">Inicio</i>
            </li>
            <li>
                <i class="fa-solid fa-flag">Reporte</i>
            </li>
            <li>
                <i class="fa-solid fa-user">Perfil</i>
            </li>
        </ul>
    </div>
    <div class="bottom">
        <div>
            <button id="cerrarSesion">Cerrar Sesión</button>
        </div>
    </div>
</div>