.main{
    background-color: #DCEBFA;
    height: 100vh;
    padding: 6rem 3rem;
}

.cont-main{
    background-color: white;
    border: none;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.cont-main div{
    padding: 1rem;
}

.cont-main div div p{
    line-height: 1.4;
    text-align: justify;
}

#iniciarSesion{
    background-color: white;
    border: 1px solid #0B1F3A;
}

#iniciarSesion:hover{
    background-color: #0B1F3A;
    color: white;
}

#registrarse{
    background-color: white;
    border: 1px solid #0B1F3A;
}

#registrarse:hover{
    background-color: #0B1F3A;
    color: white;
}

.cont-fond-pers{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fondo-personalizado{
    background-image: url("reportes_ciudadanos_ilustracion.png");
    background-size: contain;
    background-position: center;
    width: 379px;
    height: 333px;
}