<div class="main">
  <div class="cont-main">
    <div class="titulo">
      <hr>
        <h1>Iniciar Sesión</h1>
      <hr>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="loginFormulario()" novalidate="">
      <div class="contLoginForm">
        <div class="login-form">
          <div class="cont-label">
            <label>Correo electrónico</label>
          </div>
          <div class="input-with-icon">
            <input type="text" placeholder="Ingres su correo electrónico" formControlName="emailUsuario"/>
            <i></i>
          </div>
        </div>
        <div class="login-form">
          <div class="cont-label">
            <label>Password</label>
          </div>
          <div class="input-with-icon">
            <input type="password" formControlName="passwordUsuario"/>
            <i></i>
          </div>
        </div>
        <div class="login-form">
          <a id="recuperarContrasena" routerLink="/recuperar-password">¿Olvido su contraseña?</a>
        </div>
        <div class="cont-button">
          <button type="submit" id="buttonIngresar" (click)="login()" [disabled]="loginForm.invalid">Ingresar</button>
          <button id="cancelar" (click)="irInicio()">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</div>