<div class="main">
    <div class="cont-main">
      <div class="titulo">
        <hr>
          <h1>Recuperar contraseña</h1>
        <hr>
      </div>
      <form [formGroup]="nuevoPasswordForm" (ngSubmit)="nuevoPassword()" novalidate="">
        <div class="contNuevoPasswordForm">
          <div class="login-form">
            <div class="cont-label">
              <label>Ingrese su correo electrónico</label>
            </div>
            <input type="text" placeholder="Ingrese su correo electrónico" value="correo@correo.com" readonly/>
          </div>
          <div class="login-form">
            <div class="cont-label">
              <label>Ingrese su código de autenticación</label>
            </div>
            <input type="password"/>
          </div>
          <div class="login-form">
            <div class="cont-label">
              <label>Ingrese su contraseña</label>
            </div>
            <input type="password"/>
          </div>
          <div class="login-form">
            <div class="cont-label">
              <label>Confirme su nueva contraseña</label>
            </div>
            <input type="password"/>
          </div>
          <div class="cont-button">
            <button id="buttonActualizar">Actualizar</button>
            <button id="cancelar" (click)="irLogin()">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
  </div>