<div class="main">
    <div class="cont-main">
      <div class="titulo">
        <hr>
          <h1>Recuperar contraseña</h1>
        <hr>
      </div>
      <form [formGroup]="nuevoPasswordForm" (ngSubmit)="nuevoPassword()" novalidate="">
        <div class="contNuevoPasswordForm">
          <div class="login-form">
            <div class="cont-label">
              <label>Ingrese su correo electrónico</label>
            </div>
            <div class="input-with-icon">
              <input type="text" placeholder="Ingrese su correo electrónico" formControlName="emailUsuario"/>
              <i class="fa-duotone fa-solid fa-envelope-circle-check" id="enviarCodigoAutenticacion"></i>
            </div>
          </div>
          <div class="login-form">
            <div class="cont-label">
              <label>Ingrese su código de autenticación</label>
            </div>
            <div class="input-with-icon">
              <input type="password" formControlName="codigoAutenticacion"/>
              <i></i>
            </div>
          </div>
          <div class="login-form">
            <div class="cont-label">
              <label>Ingrese su contraseña</label>
            </div>
            <div class="input-with-icon">
              <input type="password" formControlName="primerPassword"/>
              <i></i>
            </div>
          </div>
          <div class="login-form">
            <div class="cont-label">
              <label>Confirme su nueva contraseña</label>
            </div>
            <div class="input-with-icon">
              <input type="password" formControlName="segundoPassword"/>
              <i></i>
            </div>
          </div>
          <div class="cont-button">
            <button type="submit" id="buttonActualizar" [disabled]="nuevoPasswordForm.invalid">Actualizar</button>
            <button id="cancelar" (click)="irLogin()">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
  </div>