<div class="main">
    <div class="cont-main">
      <div class="titulo">
        <hr>
          <h1>Recuperar contraseña</h1>
        <hr>
      </div>
      <form [formGroup]="actualizarPasswordForm" (ngSubmit)="formActuPass()" novalidate="">
        <div class="contActualizarPasswordForm">
          <div class="login-form">
            <div class="cont-label">
              <label>Ingrese su nueva contraseña</label>
            </div>
            <div class="input-with-icon">
              <input type="password" formControlName="primerPassword"/>
              <i></i>
            </div>
          </div>
          <div class="login-form">
            <div class="cont-label">
              <label>Confirme su nueva contraseña</label>
            </div>
            <div class="input-with-icon">
              <input type="password" formControlName="segundoPassword"/>
              <i></i>
            </div>
          </div>
          <div class="cont-button">
            <button type="submit" id="buttonActualizar" (click)="actualizarPassword()" [disabled]="actualizarPasswordForm.invalid">Actualizar</button>
            <button id="cancelar" (click)="goToInicioUsuario()">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
  </div>