<div class="main">
    <div class="cont-main">
      <div class="titulo">
        <hr>
          <h1>Registro de usuario</h1>
        <hr>
      </div>
      <form [formGroup]="registroForm" (ngSubmit)="formRegiUsua()" novalidate="">
        <div class="contRegistroForm">
          <div class="cont-label">
            <label>Nombre</label>
          </div>
          <div class="input-with-icon">
            <input type="text" placeholder="Ingrese su primer nombre" formControlName="nombreUsuario"/>
            <i></i>
          </div>
          <div class="cont-label">
            <label>Apellido</label>
          </div>
          <div class="input-with-icon">
            <input type="text" placeholder="Ingrese su primer apellido" formControlName="apellidoUsuario"/>
            <i></i>
          </div>
          <div class="cont-label">
            <label>Correo electrónico</label>
          </div>
          <div class="input-with-icon">
            <input type="text" placeholder="Ingrese su correo electrónico" formControlName="emailUsuario"/>
            <i></i>
          </div>
          <div class="cont-label">
            <label>Número telefonico</label>
          </div>
          <div class="input-with-icon">
            <input type="text" placeholder="Ingrese su número telefonico" formControlName="numeroContactoUsuario"/>
            <i></i>
          </div>
          <div class="cont-label">
            <label>Dirección</label>
          </div>
          <div class="input-with-icon">
            <input type="text" placeholder="Ingrese su dirección" formControlName="direccionUsuario"/>
            <i></i>
          </div>
          <div class="cont-label">
            <label>Contraseña</label>
          </div>
          <div class="input-with-icon">
            <input type="password" formControlName="passwordUsuario"/>
            <i></i>
          </div>
          <div>
            <div class="cont-button">
              <button type="submit" id="buttonIngresar" [disabled]="registroForm.invalid">Ingresar</button>
              <button id="cancelar" (click)="goToInicio()">Cancelar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>