.contRegistroForm{
    text-align: center;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    gap: 1rem;
}

.contRegistroForm div{
    width: 100%;
}

.contRegistroForm > :last-child{
    grid-column: span 2;
}

#buttonIngresar{
    background-color: white;
    border: 1px solid #0B1F3A;
}

#buttonIngresar:hover{
    background-color: #0B1F3A;
    color: white;
}

#cancelar{
    background-color: white;
    border: 1px solid #0B1F3A;
}

#cancelar:hover{
    background-color: #0B1F3A;
    color: white;
}

